<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новая статья</title>
</head>
<body>
    {% load news_filters %}
    <h2>Здравствуй, {{ user.username }}!</h2>
    <p> В категории  "{{ category.name }}", на которую вы подписаны новая статья: </p>
    <a href="http://127.0.0.1:8000/news/{{ post.id }}">{{ post.title }}</a>
    <br>
    {{ post.text|censor|truncatechars:50 }}
</body>
</html>