{% extends 'default.html' %}


{% block title %}
Страница авторизованного пользователя
{% endblock title %}
 
{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя </div>

{% if is_not_author %}
<br>
<button> <a href="{% url 'upgrade' %}">Хочу стать автором!</a> </button>
{% endif %}

{% if categories %}
    <hr>
    <h5>Вы подписаны на категории:</h5>
    {% for category in categories %}
        {{category.name}}
        <a href="/news/unsubscribe/{{ category.id }}">
            Отписаться
        </a>
        <br>
    {% endfor %}
{% endif %}


{% endblock content %}
